<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0C20921E69BE65007FB3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0C20A91E69BE66007FB3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0C20B41E69BE66007FB3FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
